.vs
packages
/Prog3.RestoDotNet.Business/obj
/Prog3.RestoDotNet.Business/bin
/Prog3.RestoDotNet.Data/bin
/Prog3.RestoDotNet.Data/obj
/Prog3.RestoDotNet.Model/bin
/Prog3.RestoDotNet.Model/obj
/Prog3.RestoDotNet.Core/obj
/Prog3.RestoDotNet.Core/bin
/Prog3.RestoDotNet.App/obj
/Prog3.RestoDotNet.App/bin
